[Unit]
Description=KegDisplay Sync Service
After=network.target
Before=kegdisplay.service

[Service]
Type=simple
User=beer
WorkingDirectory=/home/beer/Dev/KegDisplayDB
# Use full path to poetry
ExecStart=/home/beer/.local/bin/poetry run sync
# Or alternatively use this if poetry is installed system-wide
# ExecStart=/usr/local/bin/poetry run sync
Restart=on-failure
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target 